body {max-width: 1024px; margin: 0px auto; font-family: Arial;}

table {border-collapse: collapse; margin: 0 auto; width: 100%; max-width: 924px;}
th, td {border: 1px solid #dddddd; text-align: left; padding: 8px;}
th {background-color: #f2f2f2;}

.space-1\/2{width: 50%;}
.w-70 {min-width: 80px}
.w-30 {width: 30px}
.w-100 {width: 100%;}

.text-right {text-align: right;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.float-left{float: left}
.float-right{float: right}

.font-bold {font-weight: bold}
.font-size-10 {font-size: 10pt;}
.font-size-12 {font-size: 12pt;}
.font-size-14 {font-size: 14pt;}
.font-size-16 {font-size: 16pt;}
.font-size-18 {font-size: 18pt;}

.mt-10 {margin-top: 10px;}
.mt-20 {margin-top: 20px;}
.mt-40 {margin-top: 40px;}

.mb-10 {margin-bottom: 10px;}
.mb-20 {margin-bottom: 20px;}
.mb-40 {margin-bottom: 40px;}

.yellow-300 {background-color: #edebe0;}
.gray-500 {background-color: #d7d7d7;}

.break-page-even:nth-child(2n) {page-break-after: always;}
.break-page-before {page-break-before: always;}