<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table with 10 Rows and 10 Columns</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        .space{
            width: 10%;
        }  
    </style>
</head>
<body style="margin:90px 90px">


<table>
    <tr>
        <td colspan="6" class="space">Number of Facility</td>
        <td class="space">(Select from the Drop down of number of Facilities )</td>
    </tr>
  <tr>
    <th colspan="6">Name of the tourism accomodation facility:</th>
    <td >Drop down of the list of hotels (Facility A)</td>
  </tr>

  <tr >
    <th >Registration number of facility</th>
    <td colspan="6"></td>
  
  </tr>
  <tr>
    <th>Sn</th>
    <th>Description</th>
    <th>Number of rooms</th>
    <th>Price per night</th>
    <th>Days in a month</th>
    <th>Potential Turnover</th>
    <th>Actual Turnover</th>   
  </tr>
  <tr>
    <th>1</th>
    <td>< Room Type 1></td>
    <td>-</td>
    <td></td>
    <td></td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <th>2</th>
    <td>< Room Type 2></td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <th>3</th>
    <td>< Room Type 3></td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td></td>
  </tr>
  <tr>
    <th>4</th>
    <td><b>Total</b> (Sum of row 1 to 3)</td>
    <th></th>
    <th></th>
    <td>-</td>
    <td>-</td>
    <td></td>
  </tr>
  <tr>
    <th></th>
    <td><b>Less:</b></td>
    <th></th>
    <th></th>
    <th>-</th>
    <th>-</th>
    <th></th>
  </tr>
  <tr>
    <th>5</th>
    <td>Adjustment (Provide descriptions)
    </td>
    <th></th>
    <th></th>
    <th>-</th>
    <th>-</th>
    <td></td>
  </tr>
  <tr>
    <th>6</th>
    <td>Total charges subject to Bed Night Levy (Row 4 minus Row 5)
    </td>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <td>-</td>
  </tr>
  <tr>
    <th>7</th>
    <td>Rate of Bed Night Levy</td>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <td>1%</td>
  </tr>
  <tr>
    <th>8</th>
    <td><b>Total Bed Night Levy Payable for the Month</b></td>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>-</th>
  </tr>
  
  
  
</table>

<table style="margin-top: 40px;">
    <tr>
        <th colspan="6" class="space">Name of the tourism</th>
        <td class="space">Drop down of the list of hotels (Facility B)</td>
    </tr>
  <tr>
    <th colspan="6">Registration number of facility</th>
    <td></td>
  </tr>
  <tr>
    <th>Sn</th>
    <th>Description</th>
    <th>Number of rooms</th>
    <th>Price per night</th>
    <th>Days in a month</th>
    <th>Potential Turnover</th>
    <th>Actual Turnover</th>   
  </tr>
  <tr>
    <th>1</th>
    <td>< Room Type 1></td>
    <td></td>
    <td></td>
    <td></td>
    <td>-</td>
    <td></td>
  </tr>
  <tr>
    <th>2</th>
    <td>< Room Type 2></td>
    <td></td>
    <td></td>
    <td></td>
    <td>-</td>
    <td></td>
  </tr>
  <tr>
    <th>3</th>
    <td>< Room Type 3></td>
    <td></td>
    <td></td>
    <td></td>
    <td>-</td>
    <td></td>
  </tr>
  <tr>
    <th>4</th>
    <td><b>Total</b> (Sum of row 1 to 3)</td>
    <td>-</td>
    <th></th>
    <th></th>
    <td>-</td>
    <td></td>
  </tr>
  <tr>
    <th></th>
    <td><b>Less:</b></td>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th>5</th>
    <td>Adjustment (Provide descriptions)
    </td>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <td>-</td>
  </tr>
  <tr>
    <th>6</th>
    <td>Total charges subject to Bed Night Levy (Row 4 minus Row 5)
    </td>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <td>-</td>
  </tr>
  <tr>
    <th>7</th>
    <td>Rate of Bed Night Levy</td>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <td></td>
  </tr>
  <tr>
    <th>8</th>
    <td><b>Total Bed Night Levy Payable for the Month</b></td>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <td>-</td>
  </tr>
  <tr>
    <th></th>
    <td><b>Summary</b></td>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <td></td>
  </tr>
  <tr>
    <th></th>
    <td><b>Total Amount (Row 9 plus 22)</b></td>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th></th>
    <td><b>Total Adjustments (Row 11 plus 24)</b></td>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>-</th>
  </tr>
  <tr>
    <th></th>
    <td><b>Total amount subject to Levy</b></td>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th>9</th>
    <td><b>Total Levy payable</b></td>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    
</table>

</body>
</html>
